@model SkincareStore.Models.Address

@{
    ViewBag.Title = "Checkout";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (ViewBag.ShoppingCart.Rows.Count == 0)
{
    <div class="d-none align-content-center text-center text-dark mt-4" id="shoppingCartEmpty" style="min-height: 402px">
        <i class="fa fa-shopping-cart fa-3x mb-4"></i>
        <p class="text-uppercase font-weight-medium mb-2" style="font-size: 18px">Cart empty</p>
        <a href="@Url.Action("Index","Products")" class="btn btn-primary mt-2 rounded-pill shadow-sm" style="font-size: 14px">Return to Store</a>
    </div>
}
else
{
    <!-- Order Summary for Smaller Screens -->
    <div class="d-lg-none">
        <a id="showOrderSummary" class="d-block text-decoration-none">
            <div class="d-flex justify-content-between align-items-center bg-secondary text-dark" style="height: 70px; cursor: pointer">
                <div class="d-inline-flex align-items-center" style="font-size: 13px">
                    <span class="ml-4 mr-2">Show order summary</span>
                    <i class="fa fa-angle-down"></i>
                </div>
                <p class="font-weight-semi-bold" style="margin: 0; margin-right: 20px">@ViewBag.CartSummary€</p>
            </div>
        </a>
        <div id="orderSummary" class="hideable">
            <div class="card bg-secondary" style="border: 1px solid #e0e0e0; border-left: none; border-right: none">
                <div class="card-body pt-3 pb-2">
                    @foreach (System.Data.DataRow dr in ViewBag.ShoppingCart.Rows)
                    {
                        <div class="d-flex align-items-center justify-content-between" style="margin-bottom: 10px">
                            <div style="position: relative">
                                <img class="img-checkout" src="data:image;base64,@System.Convert.ToBase64String((byte[])@dr["Picture"])" alt="">
                                <div class="img-overlay">@dr["Quantity"]</div>
                            </div>
                            <p class="text-truncate" style="font-size: 13px; margin: 0; width: 95%; margin-left: 15px">@dr["Name"]</p>
                            <p style="font-size: 13px; margin: 0; margin-left: 15px">@dr["Total"]€</p>
                        </div>
                    }
                    <div class="d-flex justify-content-between text-dark mb-2 pt-2" style="font-size: 14px">
                        <span>Subtotal</span>
                        <span>@ViewBag.CartSummary€</span>
                    </div>
                    <div class="d-flex justify-content-between text-dark" style="font-size: 14px">
                        <span>Shipping</span>
                        <span>0€</span>
                    </div>
                    <div class="d-flex justify-content-between mt-3">
                        <h6 class="font-weight-semi-bold">Total</h6>
                        <h6 class="font-weight-semi-bold">@ViewBag.CartSummary€</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Order Summary for Smaller Screens -->
    <!-- Checkout Start -->
    using (Html.BeginForm("Checkout", "Products", FormMethod.Post, new { id = "checkoutForm" }))
    {
        <div class="container-fluid pt-4 pt-lg-5">
            <div class="row px-xl-5">
                <div class="col-lg-8">
                    <div class="mb-4">
                        <h5 class="font-weight-medium ml-1 mb-4">Address Details</h5>
                        @Html.AntiForgeryToken()
                        <div class="row">
                            @Html.HiddenFor(model => model.Total)
                            <div class="col-md-6 form-group">
                                <div class="d-flex">
                                    @Html.LabelFor(model => model.FirstName, new { @class = "form-label" })
                                    @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-error" })
                                </div>
                                @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control", @placeholder = "Required" } })
                            </div>
                            <div class="col-md-6 form-group">
                                <div class="d-flex">
                                    @Html.LabelFor(model => model.LastName, new { @class = "form-label" })
                                    @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-error" })
                                </div>
                                @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control", @placeholder = "Required" } })
                            </div>
                            <div class="col-md-6 form-group">
                                <div class="d-flex">
                                    @Html.LabelFor(model => model.Email, new { @class = "form-label" })
                                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-error" })
                                </div>
                                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", @placeholder = "example@email.com" } })
                            </div>
                            <div class="col-md-6 form-group">
                                <div class="d-flex">
                                    @Html.LabelFor(model => model.PhoneNumber, new { @class = "form-label" })
                                    @Html.ValidationMessageFor(model => model.PhoneNumber, "", new { @class = "text-error" })
                                </div>
                                @Html.EditorFor(model => model.PhoneNumber, new { htmlAttributes = new { @class = "form-control", @placeholder = "+383 xx xxx xxx" } })
                            </div>
                            <div class="col-md-6 form-group">
                                <div class="d-flex">
                                    @Html.LabelFor(model => model.AddressLine1, new { @class = "form-label" })
                                    @Html.ValidationMessageFor(model => model.AddressLine1, "", new { @class = "text-error" })
                                </div>
                                @Html.EditorFor(model => model.AddressLine1, new { htmlAttributes = new { @class = "form-control", @placeholder = "Street Name" } })
                            </div>
                            <div class="col-md-6 form-group">
                                @Html.LabelFor(model => model.AddressLine2, new { @class = "form-label" })
                                @Html.EditorFor(model => model.AddressLine2, new { htmlAttributes = new { @class = "form-control", @placeholder = "Optional" } })
                            </div>
                            <div class="col-md-6 form-group">
                                <label class="form-label">Country/Region</label>
                                <select class="custom-select">
                                    <option selected>Kosovo</option>
                                </select>
                            </div>
                            <div class="col-md-6 form-group">
                                <div class="d-flex">
                                    @Html.LabelFor(model => model.City, new { @class = "form-label" })
                                    @Html.ValidationMessageFor(model => model.City, "", new { @class = "text-error" })
                                </div>
                                @Html.EditorFor(model => model.City, new { htmlAttributes = new { @class = "form-control", @placeholder = "Required" } })
                            </div>
                            <div class="col-md-6 form-group">
                                <div class="d-flex">
                                    @Html.LabelFor(model => model.PostalCode, new { @class = "form-label" })
                                    @Html.ValidationMessageFor(model => model.PostalCode, "", new { @class = "text-error" })
                                </div>
                                @Html.EditorFor(model => model.PostalCode, new { htmlAttributes = new { @class = "form-control", @placeholder = "#####" } })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="card border-secondary mb-5">
                        <a id="showOrderTotal" class="text-decoration-none">
                            <div class="card-header d-flex justify-content-between bg-secondary text-dark border-0" style="cursor: pointer">
                                <h5 class="font-weight-medium m-0">Order Total</h5>
                                <div class="d-inline-flex align-items-center" style="font-size: 13px">
                                    <span class="mr-2" style="color: #257bb4">Show Items</span>
                                    <i class="fa fa-angle-down"></i>
                                </div>
                            </div>
                        </a>
                        <div id="orderTotal" class="card-body hideable pt-3 pb-1">
                            @foreach (System.Data.DataRow dr in ViewBag.ShoppingCart.Rows)
                            {
                                <div class="d-flex align-items-center justify-content-between" style="margin-bottom: 10px">
                                    <div style="position: relative">
                                        <img class="img-checkout" src="data:image;base64,@System.Convert.ToBase64String((byte[])@dr["Picture"])" alt="">
                                        <div class="img-overlay">@dr["Quantity"]</div>
                                    </div>
                                    <p class="text-truncate" style="font-size: 13px; margin: 0; width: 95%; margin-left: 15px">@dr["Name"]</p>
                                    <p style="font-size: 13px; margin: 0; margin-left: 15px">@dr["Total"]€</p>
                                </div>
                            }
                        </div>
                        <div class="card-body border-top">
                            <div class="d-flex justify-content-between mb-3 pt-1">
                                <h6 class="font-weight-normal">Subtotal</h6>
                                <h6 class="font-weight-normal">@ViewBag.CartSummary€</h6>
                            </div>
                            <div class="d-flex justify-content-between">
                                <h6 class="font-weight-normal">Shipping</h6>
                                <h6 class="font-weight-normal">0€</h6>
                            </div>
                        </div>
                        <div class="card-footer border-secondary bg-transparent">
                            <div class="d-flex justify-content-between mt-2">
                                <h6 class="font-weight-semi-bold">Total</h6>
                                <h6 class="font-weight-semi-bold" id="lblTotal">@ViewBag.CartSummary€</h6>
                            </div>
                        </div>
                    </div>
                    <div class="card border-secondary">
                        <div class="card-header bg-secondary border-0">
                            <h5 class="font-weight-medium m-0">Payment</h5>
                        </div>
                        <div class="card-body">
                            <div class="custom-control custom-radio">
                                <input type="radio" class="custom-control-input" name="payment" id="cod" checked>
                                <label class="custom-control-label" for="cod">Cash on Delivery (COD)</label>
                            </div>
                        </div>
                        <div class="card-footer border-secondary bg-transparent">
                            <button type="button" id="placeOrder" class="btn btn-block btn-primary my-3 py-2">Place Order</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
    <!-- Checkout End -->
}

<script>
    $("#navShoppingCart").attr("class", "btn bg-primary");
    $("#navShoppingCart i").attr("class", "fas fa-shopping-cart text-white");
    $('.form-group .form-control').css('border-radius', '9px');
    $('#Total').val(parseFloat($('#lblTotal').text().replace(/[^0-9.-]/g, '')));
</script>